<h1> Sweet Nothing </h1>
<%= link_to "Edit", "/sweet_nothings/#{@sweet_nothing.id}/edit", method: :get %>
<h2><%= @sweet_nothing.name %></h2>
<h3> <%= @sweet_nothing.image %> </h3>
<p> <%= @sweet_nothing.description %> </p>

<%= link_to "Destroy Sweet Nothing", "/sweet_nothings/#{@sweet_nothing.id}", method: :delete %>
<a href="/sweet_nothings"> Back to more good vibes </a>
